body {
  font-size: 180%;
  background-color: #EEEEEE;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus{
  background-color: rgb(195, 214, 224);
  }
  
  /* background-color: rgb(195, 214, 224); */
.jumbo-paral {
    background-image: url("images/paral_bgd.jpg");  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.youtubeVideo {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  margin-bottom: 0px;
  z-index: 1;
  background-color: rgb(137, 148, 221)
}

.eLink-nav-pills li a{
  padding: 0px;
}
.pLink-nav-pills ul {
  margin-top: 5px;
  display: table;
  width: 100%;
  list-style: none;
}
.pLink-nav-pills li {
  display: table-cell;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.pLink-nav-pills li a {
  border: solid;
  border-color: black;
  text-align: center;
  display: block;
}
