/*body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
  }
  
  
  .navbar {
    background:#303F9F;
  }
  
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  
  .nav-link {
    margin-right: 1em;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  .navbar-brand:hover {
    color: #000;      
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  .description {
      padding-top: 20px;
      text-align: center;
  }

.container {
    display: table;
    width: 100%;
    border: solid;
}


  .col {
      border: solid;
      padding: 10px;
  }

.youtubeVideo {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
}

.honors {
  border: solid;
  display: block;
}

.dylanContainer {
  margin-left: 20px;
  margin-right: 20px;
}
*/

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  margin-bottom: 0px;
  z-index: 1;
  background-color: rgb(137, 148, 221)
}

.eLink-nav-pills li a{
  padding: 0px;
}
.pLink-nav-pills li a {
  padding: 2px;
  border: solid;
  margin: 1px;
  border-color: black;
}

.carousel-inner {
  width: 100%;
  height: 200px;
}
.carousel-inner > .item {
  display: block;
  max-width: 100%;
  height: 200px;
}
